@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #050816;
    --color-text: #ffffff;
    --color-secondary: #aaa6c3;
    --color-tertiary: #151030;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-primary: #ffffff;
        --color-text: #050816;
        --color-secondary: #454545;
        --color-tertiary: #f3f3f3;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color-scheme: dark light;
}

.violet-gradient {
    background: #804dee;
    background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
    background: -webkit-linear-gradient(-90deg,
            #804dee 0%,
            rgba(60, 51, 80, 0) 100%);
}

.green-pink-gradient {
    background: "#00cea8";
    background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
    background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
    background: #f12711;
    background: -webkit-linear-gradient(to top, #f12711, #f5af19);
    background: linear-gradient(to top, #f12711, #f5af19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.green-text-gradient {
    background: #11998e;
    background: -webkit-linear-gradient(to top, #11998e, #38ef7d);
    background: linear-gradient(to top, #11998e, #38ef7d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
    background: #56ccf2;
    background: -webkit-linear-gradient(to bottom, #2f80ed, #56ccf2);
    background: linear-gradient(to bottom, #2f80ed, #56ccf2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
    background: #ec008c;
    background: -webkit-linear-gradient(to top, #ec008c, #fc6767);
    background: linear-gradient(to top, #ec008c, #fc6767);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.black-gradient {
    background: #000000;
    background: -webkit-linear-gradient(to right,
            #434343,
            #000000);
    background: linear-gradient(to right,
            #434343,
            #000000);
}

.card-img_hover {
    background: black;
    background-image: linear-gradient(to right bottom,
            rgba(189, 195, 199, 0.7),
            rgba(44, 62, 80, 0.7));
    backdrop-filter: blur(4px);
}